// COLORS
$black-full: rgb(0, 0, 0);
$black-80: rgba(0, 0, 0, 0.8);
$color-html-tag: rgb(50, 22, 3);
$background-html-tag: rgb(255, 213, 183);
$color-css-tag: rgb(3, 41, 50);
$background-css-tag: rgb(183, 237, 255);
$background-javascript-tag: rgb(253, 255, 183);
$color-javascript-tag: rgb(49, 50, 3);
$color-figma-tag: rgb(49, 3, 50);
$background-figma-tag: rgb(210, 183, 255);
$background-sass-tag: rgb(255, 184, 244);
$color-sass-tag: rgb(48, 3, 50);
$white-full: rgb(255, 255, 255);

// SIZE
$size-0: 0rem;
$size-1: 0.4rem;
$size-2: 0.8rem;
$size-3: 1.2rem;
$size-4: 1.4rem;
$size-5: 1.6rem;
$size-6: 1.8rem;
$size-7: 2.0rem;
$size-8: 2.4rem;
$size-9: 2.8rem;
$size-10: 3.2rem;
$size-11: 3.6rem;
$size-12: 4.0rem;

$container: 70.8rem;